<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="#"><img src="/content/images/StrongLogo2.png" alt="strong logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-angle-double-down"></i></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{#unless username}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    {{/unless}}
                    {{#if username}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">{{username}}'s Dashboard</a>
                    </li>
                    <li class="nav-item pt-1" style="font-size: 12px">
                        <a class="nav-link" href="/users/logout">(Logout?)</a>
                    </li>
                    {{/if}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whyHDX">Why use HDX?</a>
                    </li>
                </ul>
            </div>
            <div id="right">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<div id="aboutUsPg">
    <div class="row">
        <div class="col-6">
            <h1 class="subtextHeader card">About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                {{!-- <p>About us</p> --}}
                <img src="/content/images/woman-aboutUs.jpg" alt="woman taking bloodpressure" class="subtextImg">
                <p class="lead mt-4">
                    No Account? <a href="/users/register">Register</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                {{!-- <p>About us</p> --}}
                <p>Awesome things about HDX!</p>
                <p>Brand identity</p>
                <p>Share the mission!</p>
            </div>
        </div>
    </div>
</div>