<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="#"><img src="/content/images/StrongLogo2.png" alt="strong logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Why use HDX?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{username}}!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>