<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="/"><img src="/assets/images/StrongLogo2.png" alt="strong logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-angle-double-down"></i></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Products</a>
                    </li>
                </ul>
            </div>
            <div id="right">
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="/dashboard">Welcome, {{username}}!</a>
                    <a class="nav-link" href="/users/logout">Logout</a>
                </form>
            </div>
        </nav>
    </div>
</div>
<div id="dashboardPg">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome {{username}}!</p>
    <div class="row">
        {{!-- <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h2>Content</h2>
                <button><a href="/product">View Product Pricing</a></button>
            </div>
        </div> --}}
        <div class="col-md-8 m-auto">
            <div class="card card-body">
                <h3>Manage Account</h3>
                <ul>
                    <li>
                        <div id="overview">Account Overview</div>
                    </li>
                    <li>
                        <div>Payment Information</div>
                    </li>

                </ul>
                <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_Fhxn716nFDa0nW"
  role="link"
>
  Checkout
</button>

<div id="error-message"></div>
                {{!-- <button>Do the things</button> --}}
            </div>
        </div>
    </div>
</div>