/* Main */

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

nav {
<<<<<<< HEAD
  background-color: #182e49;
  color: #ffffff;
=======
    background-color: #182e49;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.534)

>>>>>>> 1630d8bbcce75d71e0da476cb44929bc544e5b8b
}

nav a {
  color: #ffffff;
}

footer {
<<<<<<< HEAD
  background-color: #f2f2f2;
  color: #636363;
=======
    background-color: #f2f2f2;
    color: #636363;
    
>>>>>>> 1630d8bbcce75d71e0da476cb44929bc544e5b8b
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#chatBtn {
  background-color: #182e49;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534),
    0 6px 20px 0 rgba(0, 0, 0, 0.534);
}

footer a:link {
  color: #182e49;
}

footer a:visited {
  color: #24a68c;
}

footer a:hover {
  color: #127bbc;
}

#right {
  /* position:absolute; */
  right: 0px;
  margin-right: 1rem;
}

.fa-angle-double-down {
  color: #f2f2f2;
}

.subtextHeader {
  text-align: center;
}

.subtextImg {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* Login Page */

#loginPg {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
  background-image: url(../content/images/computer-login.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem;
=======
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/computer-login.jpg);
    background-size: cover;
    background-position: center;
    padding: 4rem;
>>>>>>> 1630d8bbcce75d71e0da476cb44929bc544e5b8b
}

#loginSubtextBox p {
  text-align: center;
  margin: 0;
  padding: 2rem;
  font-size: 2.5rem;
}
