#whyHDXPg {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/abstract-img-background.jfif);
    background-size: cover;
    background-position: center;
    padding: 1rem;
}